includes:
    - config/extension.neon
    - config/performance.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - benchmark
    excludePaths:
        - tests/PHPStan/data
